---
title: Kenneth Larsen
layout: default
root: true
---

<p>
   <a href="https://www.are.na/kenneth-larsen/a-place-to-leave-a-message" target="_blank">Leave me a message</a>
</p>

<hr class="hr">

<h2 class="text">Stories</h2> <a href="/stories.xml" class="styled-link">RSS</a> <a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">What are these?</a>

{% include stories.html lang="en" %}


{% assign note = site.data.notes[0] %}
<h2 class="text">Notes</h2><a href="/notes" class="styled-link">All notes</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <div class="note-heading">
    Latest: {{ note.date | date: "%B %d, %Y" }}
  </div>
  {{ note.content | markdownify }}
</div>

<hr class="hr">

{% include read.html %}

<!-- <hr class="hr">


<h2 class="text">Photos</h2><a href="/photos" class="styled-link">All photos</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | slice: 0, 5 %}
{% for photo in photos %}
  <a href="/photos#P{{ photo.guid}}" class="image-link">
    <img src="{{ photo.path }}/thumbnail" height="200" alt="{{ photo.alt }}" loading="lazy" style="aspect-ratio: {{ photo.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

<h2 class="text">Posts</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign pages = site.pages | where: "feature", 1 %}
{% for post in pages %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time>{{ post.date | date_to_string }}</time></li>
{% endfor %}
</ul>
 -->
<hr class="hr">

<p>
  Hi! My name is Kenneth, I work as an engineering mananger at Spotify. I live on a small island in Denmark. You can reach me at mail at kennethlarsen dot org.
</p>

