<!doctype html>
<html lang="{% if page.path contains 'zh-TW' %}zh-TW{% else %}en{% endif %}">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="alternate" type="application/rss+xml" href="/notes.xml">
    <link rel="icon" href="/assets/fav.svg" type="image/svg+xml" sizes="24x24">
    <!--link rel="icon" href="/assets/fav.png" type="image/png" sizes="96x96"-->
    {% if page.collection == "posts" %}
      <link href="{{ site.url }}/assets/syntax.css" rel="stylesheet" type="text/css">
    {% endif %}
    <link href="{{ site.url }}/assets/new.css" rel="stylesheet" type="text/css">
    {% if page.collection == "posts" or page.collection == "pages" %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" name="description">
      <meta content="article" property="og:type">
      <meta content="@kennethlarsen" property="twitter:site">
      <meta name="twitter:card" content="summary_large_image">
      {% if page.image %}
        <meta content="https://kennethlarsen.org/{{ page.image }}" property="og:image">
        <meta content="https://kennethlarsen.org/{{ page.image }}" property="twitter:image">
      {% else %}
        <meta content="summary" name="twitter:card">
        <meta content="https://muan.co/assets/logo.png" name="twitter:image">
        <meta content="https://muan.co/assets/logo.png" property="og:image">
      {% endif %}
      <title>{{ page.title }} - {{ site.title }}</title>
      <meta content="{{ page.title }}" property="og:title">
      <meta content="{{ page.title }}" name="twitter:title">
    {% else %}
      <meta content="summary" name="twitter:card">
      <meta content="https://kennethlarsen.org/assets/logo.png" property="twitter:image">
      <meta content="{{ site.title }}" name="twitter:title">
      <title>{{ site.title }}</title>
      <meta content="https://muan.co/assets/logo.png" property="og:image">
      <meta content="{{ site.title }}" property="og:title">
      <meta content="{{ site.description }}" name="description">
      <meta content="blog" property="og:type">
      
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

  </head>
  <body class="{% if page.root != true %}post-body{% endif %}" data-page-title="{{ page.title }}">
    <header>
      <div class="logo-container">
        {% if page.root != true %}
          <a href="/" aria-label="Home" class="back-link">&leftarrow;</a>
        {% endif %}

        {% if page.root != true %}
          <span class="font">Kenneth Larsen</span>
        {% endif %}
      </div>
      <h1 class="h1">
        {{ page.title }}
      </h1>
      {% if page.collection == 'posts' %}<time>{{ page.date | date_to_string }}</time>{% endif %}
      <div class="desc">{{ page.header_content }}</div>
    </header>
    <main>
      {% if page.collection == "posts" or page.collection == "pages" %}
        <article>
          {{ content }}

        </article>
        <!--div class="pagination">
          {% if page.previous %}
            <div><a href="{{ page.previous.url }}">
              Prev: {{ page.previous.title }}
            </a></div>
          {% endif %}
          {% if page.next %}
            <div><a href="{{ page.next.url }}">
              Next: {{ page.next.title }}
            </a></div>
          {% endif %}
        </div-->
      {% else %}
        {{ content }}
      {% endif %}
    </main>
    <footer>
      <hr class="hr">
      {% capture label %}{% if page.path == 'index-zh-TW.html' %}查看原始碼{% else %}View source{% endif %}{% endcapture %}
      This website is based on Mu-An Chiou's wonderful work
      (<a href="https://github.com/muan/site">{{ label }}</a>)
    </footer>

    {% if page.root %}
    <script defer type="module" src="/assets/site.js"></script>
    <script defer type="module" src="https://unpkg.com/open-stories-element@latest"></script>
    {% endif %}
    {% if page.feature == 1 or page.open_heart or page.url == "/notes" or page.url == "/photos" %}
    <script defer type="module" src="https://unpkg.com/open-heart-element@latest"></script>
    {% endif %}
  </body>
</html>
